#include <windows.h>
#include "resource.h"

101 RCDATA "../../build/Release-x64/autosort.dll"

IDD_SETTINGS DIALOGEX 0, 0, 220, 90
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT "Check for updates every", IDC_STATIC, 10, 15, 120, 8
    EDITTEXT IDC_DAYS, 135, 12, 35, 14, ES_NUMBER
    LTEXT "days", IDC_STATIC, 175, 15, 35, 8
    LTEXT "Sort taskbar every", IDC_STATIC, 10, 38, 120, 8
    EDITTEXT IDC_POLL_SECS, 135, 35, 35, 14, ES_NUMBER
    LTEXT "seconds", IDC_STATIC, 175, 38, 40, 8
    PUSHBUTTON "OK", IDOK, 80, 62, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 140, 62, 50, 14
END

